$medium: 'Raleway-Medium', Arial, Helvetica, sans-serif;
// .portfolio{

// }
.tub-section{
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    div{
        display: inline-block;
        margin-bottom: -2px;

        padding: 5px 10px;
        cursor: pointer;
    }
}
.active{
    border-bottom: 2px solid #fb6470;
}
.gallery-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,360px));
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    align-content: start;
    justify-content: space-around;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    .project-wrapper{
        max-height: 173px;
        max-width: 360px;
        margin: 10px;
        line-height: 0;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
        &:hover .project-desc{
            // top: -184px;
            transition: all 0.25s linear;
            -webkit-transition: all 0.25s linear;
        }
    }
    &-active{
        max-height: 100%;
        opacity: 1;
        overflow: hidden;
        transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
    }
}
.project-desc{
    position: relative;
    bottom: 184px;
    z-index: 10;
    height: 184px;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    background: rgba(53, 53, 65, 0.6);
    font-family: $medium;
    line-height: normal;
    color: white;
    .project-name{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .project-stack{
        font-size: 16px;
        margin-bottom: 20px;
    }
}
.project-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    a{
        display: block;
        color: white;
        text-decoration: underline;
    }
}