.tub-section {
  margin-bottom: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
  .tub-section div {
    display: inline-block;
    margin-bottom: -2px;
    padding: 5px 10px;
    cursor: pointer; }

.active {
  border-bottom: 2px solid #fb6470; }

.gallery-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-gap: 15px 15px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  justify-content: space-around;
  align-content: start;
  justify-items: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear; }
  .gallery-section .project-wrapper {
    overflow: hidden;
    line-height: 0; }
    .gallery-section .project-wrapper:hover .project-desc {
      transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear; }
  .gallery-section-active {
    max-height: 100%;
    opacity: 1;
    overflow: hidden;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear; }

.project-desc {
  z-index: 10;
  overflow: hidden;
  padding: 15px;
  background: rgba(53, 53, 65, 0.8);
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  line-height: normal;
  color: white;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear; }
  .project-desc .project-name {
    margin-bottom: 10px;
    font-size: 22px; }
  .project-desc .project-stack {
    margin-bottom: 20px;
    font-size: 16px; }

.project-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between; }
  .project-link a {
    display: block;
    color: white;
    text-decoration: underline; }

.project-img-500, .project-img-360, .project-img {
  display: none; }

@media screen and (min-width: 1201px) {
  .project-desc {
    height: 256px;
    width: 500px;
    transform: translatey(-50px); }
  .project-img-500 {
    display: block; }
  .project-wrapper {
    height: 256px;
    width: 500px;
    margin: 20px; }
    .project-wrapper:hover .project-desc {
      transform: translatey(-135px); } }

@media screen and (max-width: 1200px) {
  .project-desc {
    height: 256px;
    width: 500px;
    transform: translatey(-50px); }
  .project-img-500 {
    display: block; }
  .project-wrapper {
    height: 256px;
    width: 500px;
    margin: 20px; }
    .project-wrapper:hover .project-desc {
      transform: translatey(-135px); } }

@media screen and (max-width: 980px) {
  .gallery-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px); }
  .project-desc {
    height: 184px;
    width: 360px;
    background: rgba(53, 53, 65, 0.6);
    transform: translatey(-184px); }
  .project-wrapper {
    height: 184px;
    width: 360px;
    margin: 20px; }
    .project-wrapper:hover .project-desc {
      transform: translatey(-184px); }
  .project-img-360 {
    display: block; }
  .project-img-500 {
    display: none; }
  .project-link {
    grid-template-columns: 1fr; }
    .project-link a {
      margin: 5px; } }
