@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url('Raleway-MediumItalic.eot');
  src: url('Raleway-MediumItalic.woff2') format('woff2'),
       url('Raleway-MediumItalic.woff') format('woff'),
       url('Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg'),
       url('Raleway-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

